<section class="bg-background-light dark:bg-background-dark py-24 border-t border-slate-200 dark:border-white/5">
    <div class="max-w-7xl mx-auto px-6">
        <h2 appScrollAnimate
            class="text-center text-slate-600 dark:text-slate-500 text-xs font-bold uppercase tracking-[0.4em] mb-16">
            Proudly Contributed To
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-12 items-center">
            <div *ngFor="let item of contributions; let i = index" appScrollAnimate [animationDelay]="(i * 150) + 'ms'"
                class="flex flex-col items-center gap-4 group cursor-default">
                <div
                    class="w-16 h-16 rounded-2xl bg-white dark:bg-white/5 flex items-center justify-center border border-slate-200 dark:border-white/10 group-hover:border-primary/50 shadow-sm transition-colors">
                    <span
                        class="material-symbols-outlined text-4xl text-slate-600 dark:text-slate-400 group-hover:text-primary transition-colors">{{
                        item.icon }}</span>
                </div>
                <span class="font-bold text-xl text-slate-700 dark:text-slate-300 tracking-tight">{{ item.name }}</span>
            </div>
        </div>
    </div>
</section>